<h1 class="btn-white text-center">New Travel</h1>

<%= render 'form', travel: @travel %>

<div class="center-nav">
  <div id="new_trav_home">
    <%= link_to 'Home', '/', class: "btn btn-info btn-white" %>
  </div>
</div>
