<h1 class="btn-white text-center">New Travel</h1>

<%= render 'form', travel: @travel %>


<div class="new-trav-home-shad">
  <div id="new-trav-home">
    <%= link_to 'Home', '/', class: "btn btn-info btn-white" %>
  </div>
</div>
