<br><br><br><br>

<div id='frame'>
  <h1><a href="travels#been">Places We've Traveled</a></h1>
  <a class="note picture_been">
    <div class='pin'></div>
  </a>
</div>

<br><br><br><br>

<div id='frame'>
  <h1><a href="travels#go">Places We Want To Travel</a></h1>
  <a class="note picture_go">
    <div class='pin'></div>
  </a>
</div>

<br><br><br><br>
