<br><br><br><br>

<div id='frame'>
  <h1><a href="been">Places We've Traveled</a></h1>
  <a class="picture-been">

    <%= image_tag 'https://images.unsplash.com/photo-1462146449396-2d7d4ba877d7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=c219903b4e38c5b8109e11a3d33b9748' %>
  </a>
</div>

<br><br><br><br>

<div id='frame'>
  <h1><a href="go">Places We Want To Travel</a></h1>
  <a class="picture-go">
    <%= image_tag 'https://images.unsplash.com/photo-1454047637795-79e3325dfa0e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=2cc1d0501dc989041604b457590553e3' %>
  </a>
</div>

<br><br><br><br>
